.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:32px;
  height:32x;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #FFFFFF;
   color: #000000;
   text-align: center;
   border: 10px solid #000000;
   border-radius: 10px;
}
