ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #FFFFFF;
border-radius: 20px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
padding: 14px 6px;
  text-decoration: none;
  border: 5px solid #FFFFFF;

}

li a:hover {
  background-color: #C9C9C9;
  display: block;
  floa
}
