ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
    border: 5px solid #000000;
border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px solid gray;
border-radius: 10px;
}

li a:hover {
  background-color: #C9C9C9;
}
