#navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

#navbarli {
  float: left;
}

#navbarli e {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#navbarli e:hover {
  background-color: #C9C9C9;
}
