body 
{
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
#head1 
{
text-align: center;
color: #000000;
font-size: 40px;
letter-spacing: .75px;
}
#head2 
{
text-align: center;
color: #000000;
font-size: 30px;
letter-spacing: .75px;
}
#body 
{
  border-top: 20px solid #ffffff;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: .75px;
}
#spacer1 
{
  border-top: 30px solid #ffffff;
}
#spacer2 
{
  border-top: 20px solid #ffffff;
}
#spacer3 
{
  border-top: 10px solid #ffffff;
}
#images-center 
{
text-align: center;
}
img 
{

}
.dark-mode
{
background-color: black;
  color: white;
}
